.category-menu
{
	@include remove-highlight;

	&__inner
	{
		position: relative;
	}

	/**
	 * Selector
	 */

	&__selector
	{
		overflow-x: scroll;
	}

	&__selector-inner
	{
		display: grid;
		grid-column-gap: 3px;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	&__selector-link
	{
		background: $catskill-white;
		display: block;
		font-size: 14px;
		height: 1.5*$lh;
		line-height: 1.5*$lh;
		padding: 0 1*$lh;
		text-align: center;
		white-space: nowrap;
	}

	&__selector-item--state-open
	{
		position: relative;

		.category-menu__selector-link
		{
			background: $tawny-port;
			color: $white;
		}

		/*

		.category-menu__selector-triangle
		{
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 8px solid $tawny-port;
			bottom: -8px;
			content: '';
			display: block;
			height: 0;
			left: 1*$lh;
			position: absolute;
			width: 0;
			z-index: 2;
		}

		*/
	}

	/*
	Content
	 */

	&__content
	{
		background: $white;
		border-bottom: 1px solid $catskill-white;
		//box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .1);
		display: none;
		left: 0;
		padding: 1*$lh;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 2;

		&--state-open
		{
			display: block;
		}
	}

	&__content-inner
	{
		display: grid;
		grid-row-gap: .75*$lh;
		grid-template-columns: 1fr;
	}

	&__content-image-wrapper
	{
		display: none;
	}

	&__content-subtitle
	{
		display: block;
		font-size: 14px;
		font-weight: 300;
	}

	&__content-title
	{
		display: block;
		font-size: 22px;
		font-weight: 700;
	}

	&__list--level-two
	{
		border: 1px solid $catskill-white;
		display: grid;
		grid-column-gap: .5*$lh;
		grid-row-gap: .5*$lh;
		grid-template-columns: 1fr 1fr;
		padding: .5*$lh .5*$lh 0 .5*$lh;
	}

	&__link--level-two
	{
		display: block;
		font-size: 14px;
		font-weight: 700;
		line-height: .5*$lh;
		margin-bottom: .75*$lh;
	}

	&__item--level-three
	{
		margin-bottom: .5*$lh;
	}

	&__link--level-three
	{
		display: block;
		font-size: 13px;
		font-weight: 300;
		line-height: .5*$lh;
	}


	&__content-read-more
	{
		align-items: center;
		display: inline-flex;
		justify-self: center;
		white-space: nowrap;
	}

	&__content-read-more-text
	{
		color: $tawny-port;
		font-size: 16px;
		font-weight: 700;
		margin-right: 8px;
	}
}

@include m
{
	.category-menu
	{
		&__list--level-two
		{
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}

@include l
{
	.category-menu
	{
		&__inner
		{
			margin: 0 auto;
			width: 960px;
		}

		&__selector
		{
			overflow-x: hidden;
		}

		&__selector-inner
		{
			display: grid;
			grid-column-gap: 3px;
			grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
		}

		&__selector-link
		{
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: center;
			line-height: .75*$lh;
			padding: 0.25*$lh .5*$lh;
			text-align: center;
			white-space: normal;
		}


		&__content
		{
			border-left: 1px solid $catskill-white;
			border-right: 1px solid $catskill-white;
		}

		&__content-inner
		{
			grid-column-gap: 1*$lh;
			grid-row-gap: 1*$lh;
			grid-template-columns: auto 1fr auto auto;
		}

		&__heading
		{
			grid-column: span 3;
			order: 1;
		}

		&__content-read-more
		{
			grid-column: span 1;
			order: 2;
		}

		&__content-image-wrapper
		{
			display: block;
			grid-column: span 1;
			order: 3;
		}

		&__content-image
		{
			display: block;
			height: 8*$lh;
			width: auto;
		}

		&__list--level-two
		{
			grid-column: span 3;
			order: 4;
		}

		&__list--level-two
		{
			padding: 1*$lh;
		}

	}
}

@include xl
{
	.category-menu
	{
		&__inner
		{
			width: 1280px;
		}

		&__content-subtitle
		{
			font-size: 16px;
		}

		&__content-title
		{
			font-size: 24px;
		}

		&__content-image
		{
			height: 10*$lh;
		}

	}
}
