// Line Height
$lh: 26px;

// Colors
$white : #ffffff;
$ebony: #0f0e1f;
$sea-buckthorn: #f6a92f;
$tawny-port: #791f50;
$catskill-white: #eff4f8;
$mine-shaft: #3f3f3f;

// Hover
$wine-berry: #48122f;
$tahiti-gold: #e08d09;
$alabaster: #fafafa;

$wild-sand: #f4f4f4;
$nobel: #b3b3b3;
$gray: #808080;
$cod-gray: #1a1a1a;
$shadow: #85754e;

$cararra: #e9e8e4;
$pampas: #efece7;
$tundora: #4d4d4d;

$success: #005100;
$error: #960000;


// Fonts
$ff1: 'Montserrat', sans-serif;
$ff2: 'Montserrat', sans-serif;
