html
{
	overflow-x: hidden;
}

body
{
	color: $ebony;
	font-family: $ff1;
	font-variant-ligatures: none;
	font-weight: 400;
	line-height: $lh;
	min-height: 100vh;
	min-width: $min-width;
	overflow-x: hidden;
}

a
{
	color: inherit;
	text-decoration: none;
}

pre
{
	background: $white;
	color: $ebony;
	font-family: monospace;
}

.nowrap
{
	white-space: nowrap;
}