%button--reset
{
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	text-decoration: none !important;
}

%button
{
	background-color: $tawny-port;
	border: 2px solid $tawny-port;
	border-radius: 26px;
	color: $white;
	display: inline-block;
	font-family: $ff1;
	font-size: 16px;
	font-weight: 700;
	height: 1.5*$lh;
	line-height: 1.5*$lh - 4px;
	padding: 0 .75*$lh;
	text-align: center;
	white-space: nowrap;

	&:hover:not(:disabled):not(.button--disabled)
	{
		background-color: $wine-berry;
		border-color: $wine-berry;

	}

	&:disabled,
	&.button--disabled
	{
		cursor: default;
		opacity: .5;
	}
}

%button--style-two
{
	background-color: $sea-buckthorn;
	border-color: $sea-buckthorn;
	border-radius: 26px;

	&:hover:not(:disabled):not(.button--disabled)
	{
		background-color: $tahiti-gold;
		border-color: $tahiti-gold;

	}
}

%button--style-three
{
	background-color: $white;
	border: 2px solid $tawny-port;
	border-radius: 0;
	color: $tawny-port;

	&:hover:not(:disabled):not(.button--disabled)
	{
		background-color: darken($alabaster, 5%);
	}
}

%button--size-small
{
	font-size: 10px;
	height: 1*$lh;
	line-height: 22px;
}


%button--size-large
{
	font-size: 18px;
	height: 2*$lh;
	line-height: 2*$lh - 4px;
}

.button
{
	@extend %button--reset;
	@extend %button;

	&--style-two
	{
		@extend %button--style-two;
	}

	&--style-three
	{
		@extend %button--style-three;
	}

	&--size-small
	{
		@extend %button--size-small;
	}

	&--size-large
	{
		@extend %button--size-large;
	}

}

@include osm
{
	.button.button--size-grow
	{
		// copy from size-small
		font-size: 12px;
		height: 1*$lh;
		line-height: 1*$lh - 4px;

		.button__arrow
		{
			height: 16px;
			margin-left: 6px;
			width: 16px;
		}
	}
}

.button--type-budget
{
	@extend %button--style-three;
	border-radius: 26px;
}
