.search-icon
{
	@include remove-highlight;
	display: inline-flex;
	position: relative;
	right: -.125*$lh;
	text-align: center;

	&__link
	{
		display: inline-block;
		padding: .25*$lh;
	}

	&__icon
	{
		display: block;
		height: 16px;
		width: auto;
	}

	.search-icon__link--state-close
	{
		.search-icon__icon--search
		{
			display: block;
		}

		.search-icon__icon--close
		{
			display: none;
		}
	}

	.search-icon__link--state-open
	{
		.search-icon__icon--search
		{
			display: none;
		}

		.search-icon__icon--close
		{
			display: block;
		}
	}
}
